.clueWrap .el-select .el-input {
    width: 100px;
}
.select .el-select .el-input {
    width: 95%;
}
.city {
    width: 30%;
}
.clueWrap .input-with-select .el-input-group__prepend {
    background-color: #fff;
}
/*.el-input-group {*/
    /*width: 40%;*/
/*}*/

/* 线索表格搜索框 */
.clueWrap .el-input-group__prepend {
    width: 20%;
}
.clueWrap .el-dialog .el-select .el-input{
    width: 100%;
}
.clueWrap .el-dialog .el-select{
    width: 100%;
}
.logTableWrap .el-input-group__prepend {
    width: 80px;
}

.btnGroup .el-select .el-input {
    width: auto
}
/* 线索详情页输入框 */
.el-textarea__inner {
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* 线索详情学校输入框 */
.school .el-input__inner, 
.defaultContact .el-input__inner {
    border: 0;
    width: auto;
}