.clueWrap .el-select .el-input {
    width: 100px;
}
.select .el-select .el-input {
    width: 95%;
}
.city {
    width: 30%;
}
.clueWrap .input-with-select .el-input-group__prepend {
    background-color: #fff;
}
/*.el-input-group {*/
    /*width: 40%;*/
/*}*/

/* 线索表格搜索框 */
.clueWrap .el-input-group__prepend {
    width: 20%;
}
.clueWrap .el-dialog .el-select .el-input{
    width: 100%;
}
.clueWrap .el-dialog .el-select{
    width: 100%;
}
