*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}
.content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 195px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:20px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.crumbs{
    margin-bottom: 20px;
}
.pagination{
    margin: 20px 0;
    text-align: right;
}
.plugins-tips{
    padding:20px 10px;
    margin-bottom: 20px;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover{
    background: #f6faff;
}
.mgb20{
    margin-bottom: 20px;
}

.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}
/*BaseForm*/
.form-box{
    width:600px;
}
.form-box .line{
    text-align: center;
}
.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -7px;
}
/*Readme*/
.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label{
    color: #333;
    cursor: pointer;
}
/*Upload*/
.pure-button{
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.g-core-image-corp-container .info-aside{
    height:45px;
}
/* 上传文件样式 */
.el-upload--text {
    /* text-align: left; */
    /* background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden; */
}
.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}
.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    /* text-align: center; */
}
.el-upload--text em {
    font-style: normal;
}
/* 上传文件样式 */
/*VueEditor*/
.ql-container{
    min-height: 400px;
}
.ql-snow .ql-tooltip{
    transform: translateX(117.5px) translateY(10px) !important;
}
.editor-btn{
    margin-top: 20px;
}
.clearfix:after{
    content: ' ';
    display: block;
    clear: both;
    visibility:hidden;
    line-height: 0;
    height:0;
}

.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pt10 {
    padding-top: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pl10 {
    padding-left: 10px;
}


/* flex类名 */
/* 定义 */
.flex-def { display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}

/* 主轴居中 */
.flex-zCenter { -webkit-box-pack: center; -moz-justify-content: center; -webkit-justify-content: center; justify-content: center; }
/* 主轴两端对齐 */
.flex-zBetween { -webkit-box-pack: justify; -moz-justify-content: space-between; -webkit-justify-content: space-between; justify-content: space-between; }
/* 主轴end对齐 */
.flex-zEnd { -webkit-box-pack: end; -moz-justify-content: flex-end; -webkit-justify-content: flex-end; justify-content: flex-end; }
/* 主轴start对齐 */
.flex-zStart { -webkit-box-pack: start; -moz-justify-content: start; -webkit-justify-content: start; justify-content: start; }

/* 侧轴居中 */
.flex-cCenter { -webkit-box-align: center; -moz-align-items: center; -webkit-align-items: center; align-items: center; }
/* 侧轴start对齐 */
.flex-cStart { -webkit-box-align: start; -moz-align-items: start; -webkit-align-items: start; align-items: start; }
/* 侧轴底部对齐 */
.flex-cEnd { -webkit-box-align: end; -moz-align-items: flex-end; -webkit-align-items: flex-end; align-items: flex-end; }
/* 侧轴文本基线对齐 */
.flex-cBaseline { -webkit-box-align: baseline; -moz-align-items: baseline; -webkit-align-items: baseline; align-items: baseline; }
/* 侧轴上下对齐并铺满 */
.flex-cStretch { -webkit-box-align: stretch; -moz-align-items: stretch; -webkit-align-items: stretch; align-items: stretch; }

/* 主轴从上到下 */
.flex-zTopBottom { -webkit-box-direction: normal; -webkit-box-orient: vertical; -moz-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }
/* 主轴从下到上 */
.flex-zBottomTop { -webkit-box-pack: end; -webkit-box-direction: reverse; -webkit-box-orient: vertical; -moz-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }
/* 主轴从左到右 */
.flex-zLeftRight { -webkit-box-direction: normal; -webkit-box-orient: horizontal; -moz-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }
/* 主轴从右到左 */
.flex-zRightLeft { -webkit-box-pack: end; -webkit-box-direction: reverse; -webkit-box-orient: horizontal; -moz-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

/* 是否允许子元素伸缩 */
.flex-item { -webkit-box-flex: 1.0; -moz-flex-grow: 1; -webkit-flex-grow: 1; flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }